body {
  font-family: "Product Sans", "Google Sans", "Montserrat", ui-sans-serif,
    system-ui, -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
}

nav {
  top: 0;
}

/* this styles the navbar at the top and bottom of the page */
.navGraphics {
  position: fixed; /* keeps the bar at the top / bottom of the screen */
  left: 0;
  right: 0;
  height: 7vh;
  font-size: 1.2rem;
  display: flex; /* allows the content to maintain design intent even if content is added */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem; /* adds space between each direct child component */

  background-color: black;
}

.navLink {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  position: relative;
}

.navLink:link {
  color: white;
}

/* thanks to css tricks */
.navLink::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 3%px;
  background-color: orange;
  bottom: -3px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navLink:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.navLink:active {
  color: orange;
}

/* matches hover styling */
.navLink:active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 3%px;
  background-color: orange;
  bottom: -3px;
  left: 0;
}

/* script runs to add class for active page link/anchor tag */
.activePage {
  color: orange;
}

.navLink:visited {
  color: rgb(150, 150, 150);
}

svg {
  fill: white;
  height: 1.6rem;
  width: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

.contact {
  display: flex;
  font-size: 1.2rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
  color: white;
  border: solid 1px white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.behance {
  height: 1.4 rem;
}

.linkedin {
  height: 1.5 rem;
}

main {
  margin-top: 7vh; /* offset the height of nav */
  margin-bottom: 7vh; /* offset the height of the footer */
  margin-left: 5vw;
  margin-right: 5vw;
}

h2 {
  font-weight: 400;
}

span {
  font-weight: 300;
}

blockquote {
  padding-top: 6rem;
}
footer {
  bottom: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.illustration {
  width: 33vw;
  height: 86vh;
  background-color: hotpink;
  background-image: url(images/openartCC.png);
  background-size: cover;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  position: fixed;
  left: 0;
  background-position: 35%;
}

@media (min-width: 768px) {
  .illustration {
    width: 33vw;
    min-width: 20rem;
    max-width: 30rem;
    margin-left: 3vw;
  }
}

@media (min-width: 768px) {
  .descriptionWrapper {
    position: fixed;
    width: 42vw;
    height: 86vh;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    right: 6vw;
    margin-left: 6vw;
  }
}

.description {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;
  text-wrap: pretty;
}

.hobby {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hobbyDescription {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hobbyImageWrapper {
  height: 6rem;
  width: 6rem;
  background-size: cover;
  border-radius: 5px;
}

.photography {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/24/Nikon_D200_front_%28aka%29.jpg);
}

.volleyball {
  background-image: url(https://cdn.abcteach.com/abcteach-content-free/docs/free_preview/v/volleyball3bw_p.png);
}

.pickleball {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/A_pickleball_paddle_with_two_pickleballs.jpg/1280px-A_pickleball_paddle_with_two_pickleballs.jpg);
}

.family {
  background-image: url(images/TheCruzFamily-46.jpg);
}

.architecture {
  background-image: url(images/architecture.jpg);
}

.woodWork {
  background-image: url(images/woodwork.png);
}
